button {
  --bg-color: rgb(182, 182, 182);
  --fg-color: rgb(13, 38, 85);

  padding: 0.5rem 0.75rem;
  background-color: var(--bg-color);
  border: 1px solid;
  color: var(--fg-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: 300ms;
  margin: 6px;
}

button:hover {
  background-color: var(--fg-color);
  color: var(--bg-color);
}

.buttonbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-weight: 250; /* Thin */
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.5em 0;
  color: black;
  text-decoration: underline;
}

h3,
p {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif; /* Weights from Typekit: 200, 900 */
}

.diceborder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: rgb(250, 112, 87);
  width: 65px;
  height: 65px;
  border-radius: 10px;
  border: 1.5px solid black;
}

.d4border {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: rgb(122, 217, 255);
  width: 65px;
  height: 65px;
  border-radius: 10px;
  border: 1.5px solid black;
}
.d8border {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: rgb(23, 253, 127);
  width: 65px;
  height: 65px;
  border-radius: 10px;
  border: 1.5px solid black;
}

.d10border {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: rgb(183, 107, 235);
  width: 65px;
  height: 65px;
  border-radius: 10px;
  border: 1.5px solid black;
}

.d12border {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: rgb(250, 75, 142);
  width: 65px;
  height: 65px;
  border-radius: 10px;
  border: 1.5px solid black;
}

.d20border {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: rgb(248, 217, 42);
  width: 65px;
  height: 65px;
  border-radius: 10px;
  border: 1.5px solid black;
}

.dicebox {
  display: flex;
  justify-content: center;
  align-items: center;
}
